doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title dashboard
        link(rel="stylesheet", href="./style.css") 
    body 
        main
            header 
                include ./header.pug 
            section(class="routeButtons")
                button(id="searchButton") Search
                button(id="favoriteButton") My Movies 
            section(class="title_recomendation") 
                h2 Film of the day
                article(class="recomendation")
        script(src="./scripts/script1.js")

