doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 

    include ./header.pug

    main#details_container
    
        article(class="detailCard") 
            img(src="poster", alt="poster")
            p Name
            p Runtime
            p Director
            p Ratings 
            p OVERVIEW 



        button#rating  OPINIONS

        
include ./footer.pug
script(src="script.js")

