doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 
        
        header 
            h1  CoffeeMovie
            input(type="button" id="menu_hamburguesa" value="Menu")

        main#details_container
    
            article(class="detailCard") 
                img(src="poster", alt="poster")
                p Name
                p Runtime
                p Director
                p Ratings 
                p OVERVIEW 



            button#rating  OPINIONS

        

        script(src="script.js")

