doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 

        include header .pug

    main#details_container 
        img(src="poster", alt="poster")
        li Name  
            p pokemon 
        li Director 
            p yo 
        li Date Release
            p 232323
        li Genre 
            p anime 

        p OVERVIEW 



        button#rating  RATINGS

        
include ./footer.pug
script(src="script.js")
