doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CoffeeMovie
        link(rel="stylesheet", href="./style.css") 
    body 

        header 
           img(src="/assets/logoWeb.jpg", alt="logo Web")

        main

            h3 Oh no! Something went wrong, try again later.

            a(href='/admin/search') 
                button(type='button') Back to Home

    footer 
        img(src="assets/logoApi.png", alt="logo Api")