doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CoffeeMovie
    body
        nav
            img(src="" id="app-logo")
            article(id="burger-menu")
        main
            form(id="search-form")      
                label(for="search-bar") Search for a movie:
                input(type="text" id="search-bar" name="search-bar" placeholder="Your movie here...")
                button(type="submit" value="Search") Search
            img(src="", alt="" id="color-img")