/*general*/
:root {
  --ashgray: #ABC4AB;
  --lion: #A39171;
  --khaki:#C0AD94;
  --jasmine:#EACC72;
  --dun:#DCC9B6;
  --green:#727D71;
  --walnut:#706557;
  --coffee:#6D4C3D;
  --white:#ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--coffee);
    background-color: var(--dun);
  }

  header {
    background-color: var(--coffee); 
    padding: 1rem;
    text-align: center;
    color: var(--white); 
  }
  main {
    padding: 2rem;
  }

  footer {
    background-color: var(--walnut); 
    padding: 1rem;
    text-align: center;
  }

  img{
    width: 70%;
    margin: auto;
  }
  .headerimg{
    width: 70%;
    margin: auto;
  }
  
  button {
    background-color: var(--jasmine); 
    color: var(--coffee); 
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    text-align: center;
    border: #6D4C3D dashed 1px;
    display: block;
    justify-content: space-between;
  }
  
  #recomendation {
    background-color: var(--dun); 
    padding: 1rem;
    margin-top: 1rem;
  }
  
  form {
    
    margin: 0 auto;
    background-color: var(--ashgray);
    padding: 10px;
    text-align: center;
  }
  
  fieldset {
    border: 1px solid black; 
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    
  }

  article{
    display: grid;
    justify-content: center;
  }
  
  h4, h5 {
    color: var(--green); 
    text-align: center;
  }

  h3{
    text-align: center;
  }

  p{
    margin: 10px auto;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--walnut);
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--lion); /* Borde para los inputs */
    border-radius: 4px; /* Esquinas redondeadas */
  }
  
  input[type="submit"] {
    background-color: var(--lion); 
    color: #fff; 
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: var(--khaki); 
  }
  
  a {
    text-decoration: none;
    background-color: var(--jasmine);
    color: black;
  }
  
  footer {
    background-color: var(--walnut); 
    padding: 1rem;
    text-align: center;
  }


  .detail-btn{
    background-color: var(--lion);
  }
  
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--jasmine);
    transition-duration: .25s;  
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--green);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--coffee);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    margin-bottom: 20px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

 

  @media screen and (min-width: 768px) {
    .headerimg{
      width: 50%;
      margin: auto;
    }
    main{
      width: 90%;
      margin: auto;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after{
      background-color: var(--coffee);
    }
  
  }

  @media screen and (min-width: 1200px) {
    .headerimg{
      width: 20%;
      margin: auto;
    }
    header{
      width: 90%;
      margin: auto;
    }

    main{
      width: 80%;
      margin: auto;
    }
    form{
      max-width: 60%;
    }

  }