* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/* DASHBOARD */

  body {
    font-family: 'Arial', sans-serif;
    background-color: #abc4ab; 
    color: #6d4c3d; 
  }
  
  header {
    background-color: #a39171; 
    padding: 1rem;
    text-align: center;
    color: #fff; 
  }
  
  h1 {
    font-size: 2rem;
  }
  
  #menu_hamburguesa {
    background-color: #a39171; 
    color: #fff; 
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  main {
    padding: 2rem;
  }
  
  .routeButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #b29f83; 
    color: #fff; 
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  #searchButton:hover, #favoriteButton:hover {
    background-color: #c0ad94; 
  }
  
  #recomendation {
    background-color: #dcc9b6; 
    padding: 1rem;
    margin-top: 1rem;
  }
  
  footer {
    background-color: #706557; 
    padding: 1rem;
    text-align: center;
  }
  

/* LOG PAGE */

  body {
    font-family: 'Arial', sans-serif;
    background-color: #B29F83; 
    color: #6d4c3d; 
  }
  
  header {
    background-color: #6D4C3D; 
    padding: 1rem;
    text-align: center;
    color: #fff; 
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  main {
    padding: 2rem;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ABC4AB;
  }
  
  fieldset {
    border: 1px solid #272626; 
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
  }
  
  h4, h5 {
    color: #727d71; 
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #706557;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #b29f83; /* Borde para los inputs */
    border-radius: 4px; /* Esquinas redondeadas */
  }
  
  input[type="submit"] {
    background-color: #b29f83; 
    color: #fff; 
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #c0ad94; 
  }
  
  a {
    color: rgb(41, 10, 218); 
  }
  
  footer {
    background-color: #706557; 
    padding: 1rem;
    text-align: center;
  }
  
  