/* * {
    background-color: blue;
}

.search-list-card {
    border: 1px solid black;
    background-color: aquamarine; */
/* } */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85px;
}

.nav {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #DCC9B6;
    padding: 2rem;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style-type: none;
    gap: 2rem;
}

.navList li a {
    text-decoration: none;
    color: black;
}


#closeNav {
    cursor: pointer;
    color: black;
}

#openNav {
    cursor: pointer;
    color: black;
}

.routeButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title_recomendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: ; */
}

img {
    height: 200px;
    width: 150px;
}
